{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Widget Production App</title>
    <link rel="stylesheet" href="{% static 'normalize.css' %}">
    <link rel="stylesheet" href="{% static 'milligram.min.css' %}">

</head>
<body>

<div class="container">
    <div class="row">
        <div class="column">
            {% if not widget_executor_exists %}
                <h4>Widget executor does not exist. Please create a widget executor with the name "widget-executor".</h4>
            {% else %}
                <h3>Create your widget here.</h3>
            {% endif %}
        </div>
    </div>
    {% if widget_executor_exists %}
        <div class="row">
            <div class="column">
                <form action="." method="post">{% csrf_token %}
                    <label>Widget Color</label>
                    <input type="text" name="color">
                    <input type="submit" value="Create Widget">
                </form>
            </div>
        </div>
    {% endif %}

    {% if color %}
    <p>Generating a {{ color }} widget.</p>
    {% endif %}

</div>

</body>
</html>